* {
    -DARK-MINT-GREEN: #8FBC72;
    -MINT-GREEN: #BFDBAE;
    -DEEP-RED: #C70000;
    -SNOW-WHITE: #E7F8FFD8;
    -SOFT-PINK: #D7BAAA;
}

.game-bg-pane {
    -fx-background-image: url("../images/backgrounds/game.jpg");
}

.side-bar {
    -fx-background-radius: 25;
    -fx-background-color: linear-gradient(#8FBC72 0%, #BFDBAE 100%);
    -fx-spacing: 20;
}

