@import url("variables.css");

.game-bg-pane {
    -fx-background-image: url("../images/backgrounds/game.jpg");
}

.side-bar {
    -fx-background-radius: 25;
    -fx-background-color: linear-gradient(#8FBC72 0%, #BFDBAE 100%);
    -fx-spacing: 20;
}

